.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 200px;
  gap: 25px;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-size: 52px;
  margin-bottom: 10px;
  user-select: none;
  -webkit-user-select: none;
}

p {
  color: #ffffff;
  max-width: 600px;
  font-size: 24px;
  opacity: 0.9;
  user-select: none;
  -webkit-user-select: none;
}

.card-wrapper {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}