.game-over-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/img/space-bg.png);
    background-size: cover;
    background-position: center;
}

.game-over-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.game-over-title {
    font-size: 4rem;
    margin: 0;
    color: #ffffff;
}

.restart-text {
    font-size: 3rem;
    font-family: inherit;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;

}

.restart-text:hover {

    text-shadow: 0 0 20px rgb(255, 255, 255);
    transform: scale(1.1);
}