@font-face {
  font-family: 'MagicFont';
  src: url('/fonts/PlanewalkerItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('/img/begin-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  color: #eaeaea;
  font-family: 'MagicFont', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
}