.settings-icon {
    position: fixed;
    top: 32px;
    right: 32px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 60;
    transition: transform 0.5s ease;
}

.settings-icon:hover {
    transform: scale(1.15) rotateZ(90deg);
}

@media screen and (max-height: 500px) and (orientation: landscape) {
    .settings-icon {
        top: 10px;
        right: 10px;
        width: 36px;
        height: 36px;
    }
}

@media screen and (max-height: 400px) and (orientation: landscape) {
    .settings-icon {
        top: 8px;
        right: 8px;
        width: 28px;
        height: 28px;
    }
}