.settings-button {
    position: fixed;
    top: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    border-radius: 999px;
    border: none;
    background-image: url("/img/settings-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0;
    color: transparent;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    filter: brightness(0.6);
    outline: none;
    cursor: pointer;
    z-index: 60;
    transition: transform 0.5s ease, box-shadow 0.15s ease;
    user-select: none;
    -webkit-user-select: none;
}

.settings-button:hover {
    transform: scale(1.05) rotateZ(90deg);
    box-shadow: 0 0 10px rgba(30, 29, 43, 0.9);
    filter: brightness(0.9);
}

.settings-button:active {
    transform: scale(0.95) rotateZ(90deg);
}